/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-hotspot{
	min-height: 3rem;
}

.hotspotPoint{
	background-color: lightgreen;
	color: black;
	border-radius: 1000px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}