:root {
    --drop-bg: #c24fff;
    --drop-text: white;
}

.wp-block-create-block-hotspot {
    position: relative !important;
}

.hotspotPoint {
    background-color: var(--drop-bg);
    color: var(--drop-text);
    border-radius: 1000px;
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
