/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-hotspot {
	position: relative !important;
}

.hotspotPoint{
	background-color: rgb(208, 121, 255);
	color: white;
	border-radius: 1000px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}