/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 :root{
	--drop: #c24fff;
 }

.wp-block-create-block-hotspot {
	position: relative !important;
}

.hotspotPoint{
	background-color: rgb(194, 79, 255);
	color: white;
	border-radius: 1000px;
	font-size: 1.2rem;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}